.long_container{
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    justify-content: space-between;
   }

   /*width: max-content;
   height: 100 px;
   background-color:cadetblue;
   order:4;
   position: flex;
   align-self: center;
   padding-bottom: 20px;*/

.individual_box{
    background-color:cadetblue;
    justify-content: space-between;
    align-items: center;
  /*  background-color: bisque;*/
    margin: 0px;
    display:  flex;
    margin: 2px;
    right: max;
}


.individual_box:hover {
    cursor: pointer;
    background-color: lightgrey;
    
  }


  .trash{
   background-color: aliceblue;
   align-self: center;
   position: relative;
   right: 5px;
  }

  .modal{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400;
      background-color: white;
      opacity: 80%;
      border: 2px solid #000;
      box-shadow: 24;
  }

  .trash-content{
position: relative;
left: 46%;
  }