/* Home.css */
.Home {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex;
  background-color: rgb(47, 36, 58);
  opacity: 90%;
}

.App-logo {
  height: 120px;
  width: auto;
  margin: auto;
  align-self: center;
}

.logo_cont {
  height: min-content;
  width: 100%;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 400px; /* Add padding to create space below the top_container */
  
}

.sb {
  /* Remove display: absolute */
  justify-content: center;
}