/* Home.css */
.Home {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}

.App-logo {
  height: 120px;
  width: auto;
  margin: auto;
}

.logo_cont {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.sb {
  display: absolute;
  justify-content: center;
}
