.Home {
    text-align: center;
    background-color: #282c34;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    /*flex-direction: 
    row; order: 4;*/
  }
  
  .App-logo {
    height: 120px;
    width: auto;
    left: 42%; 
    margin: auto;
    position: fixed;
  }
  
  .logo_cont{
    position: fixed;
    height: 200px;
    width: 100%;
    top: 150px;
    margin-bottom: 20px;
    background-color: blueviolet;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container{
    display:flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .sb{
    display: absolute;
    justify-content: center;
  }
  