.product_card{
    width: min-content;
    height: 100 px;
    background-color:cadetblue;
    order:4;
    position: flex;
    align-self: center;
    z-index: -1;
  
}

  .product_card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }