/* Searchbar.css */
.search-box {
  position: sticky;
  top: 30px; /* Add 'px' to specify the value as pixels */
  left: 50%; /* Center the search box horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2127;
  border-radius: 5px;
  padding: 10px;
  height: 50px; /* Add 'px' to specify the value as pixels */
  width: max-content;
}

.search {
  list-style: none;
}
