.Home {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /*flex-direction: 
  row; order: 4;*/
}




body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  display:flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

